<core-header-panel mode='waterfall-tall' tallClass='tall' fit>
  <div class="core-header">
    <h1> Open Water Tracker </h1>
    <h3 id='sub-header'> An elegant web app for tracking open water USMS swimmers. </h3>
  </div>

  <div id='body'>
    <div id='section_1'>
      <div id='content'>
        <br><br>
        <center>
          <h2> Keep track of swimmers and analytics in real time </h2>
          <br>
          <div class='row'>
            <div class='col-sm-4'>
              <i class='fa fa-cloud fa-5x'></i><br>
              <h4>Cloud Based</h4>
              <p>Never lose records again<p>
            </div>
            <div class='visible-xs'><br></div>
            <div class='col-sm-4'>
              <i class='fa fa-mobile fa-5x'></i><br>
              <h4>Multi-platform</h4>
              <p>Works on any device<p>
            </div>
            <div class='visible-xs'><br></div>
            <div class='col-sm-4'>
              <i class='fa fa-bar-chart-o fa-5x'></i><br>
              <h4>Robust Analytics</h4>
              <p>Gain insights about your members<p>
            </div>
          </div>
        </center>
      </div>
    </div>

    <div id='section_2'>
      <div id='content'>
        <br><br>
        <center>
          <h2> How does it look? </h2>
          <br>
          <div class='row'>
            <div class='col-md-4'>
              <h4> Check In </h4>
              <p class='information'>
                Search swimmers by last name in the USMS database. Collect
                Swimmer Phone Numbers for your records.
              </p>
              <%= image_tag('/images/check_in.png', alt: 'Check In', width:'225px;') %>
            </div>
            <div class='visible-xs'><br></div>
            <div class='col-md-4'>
              <h4> Check Out </h4>
              <p class='information'>
                Check out swimmers with the click of a button. Either scroll
                down on the list or search by last name.
              </p>
              <%= image_tag('/images/check_out.png', alt: 'Check Out', width:'225px;') %>
            </div>
            <div class='visible-xs'><br></div>
            <div class='col-md-4'>
              <h4> Analytics </h4>
              <p class='information'>
                Track total number of swimmers, unique sessions per swimmers,
                and measure participation by season.
              </p>
              <%= image_tag('/images/analytics.png', alt: 'Analytics', width:'225px;') %>
            </div>
          </div>
        </center>
      </div>
    </div>

    <div class='visible-xs' id='mobile_fix'></div>

    <div id='section_3'>
      <div id='content'>
        <br><br>
        <center>
          <h2>Try the Open Water Tracker demo today. Don't regret tomorrow. </h2>
          <br>
          <core-input id='email' placeholder='Enter your email here for more information.'></core-input>
          <paper-button id='my-button' label='Send me info now'></paper-button>
        </center>
      </div>
    </div>
  </div>

  <div id='section_4_body'>
    <div id='content'>
      <br><br>
        <b>
          Affektive Software Solutions </br>
          720-387-9691 </br>
          info@affektive.com </br>
          Denver, CO
        </b>
    </div>
  </div>

  <div id='section_4_header'>
    <div id='content'>
      <br>
      <p style='color: white'>&#169; 2014 Affektive Software LLC</p>
    </div>
  </div>

</core-header-panel>



<style>
/* Style #my-button blue with white text and darker blue ink. */



</style>
