<div id='body'>
    <div id='section_1'>
      <div id='content'>
        <br><br>
        <center>
          <h2 style='color:#D8524E'> Keep track of swimmers and analytics in real time </h2>
          <br>
          <div class='row'>
            <div class='col-sm-4'>
              <i class='fa fa-cloud fa-5x'></i><br>
              <h4>Cloud Based</h4>
              <p>Never lose records again<p>
            </div>
            <div class='visible-xs'><br></div>
            <div class='col-sm-4'>
              <i class='fa fa-mobile fa-5x'></i><br>
              <h4>Multi-platform</h4>
              <p>Works on any device<p>
            </div>
            <div class='visible-xs'><br></div>
            <div class='col-sm-4'>
              <i class='fa fa-bar-chart-o fa-5x'></i><br>
              <h4>Robust Analytics</h4>
              <p>Gain insights about your members<p>
            </div>
          </div>
        </center>
      </div>
    </div>

    <div id='section_2'>
      <div id='content'>
        <br><br>
        <center>
          <h2 style='color:#D8524E'> What does it do? </h2>
          <br>
          <div class='row'>
            <div class='col-sm-4'>
              <center>
                <h4>Check In </h4>
              </center>
              <p class='information'>
                Open Water Tracker can be used with the USMS database for your
                state or a custom setup database of members. Easily search
                swimmers by last name to check in with a single click of a button.
              </p>
            </div>
            <div class='col-sm-4'>
              <center>
                <h4>Check Out </h4>
              </center>  <p class='information'>
               Check out swimmers with a ease by either sorting the list of
               who is still in the water, searching by last name, or scrolling
               down on the list. The days of searching through stacks of paper
               are over.
               </p>
            </div>
            <div class='col-sm-4'>
              <center>
                <h4> Analytics </h4>
              </center> <p class='information'>
                Track the total number of swims, unique swims per swimmer, and
                create a report about your open water attendance. All records
                are exportable into CSV for Windows or Mac access.
               </p>
            </div>
          </div>
        </center>
      </div>
    </div>


    <div id='section_3'>
      <div id='content'>
        <br><br>
        <center>
          <h2 style='color:#D8524E'> How does it look? </h2>
          <br>
            <div class='hidden-xs'>
              <%= image_tag('/images/check_in_mac.png', alt: 'Check In', width:'500px;') %>
            </div>
            <div class='visible-xs'>
              <%= image_tag('/images/check_in_mac.png', alt: 'Check In', width:'300px;') %>
            </div>
        </center>
      </div>
    </div>

    <div id='section_4'>
      <div id='content'>
        <br><br>
        <center class='hidden-xs'>
          <h2 style='color:#D8524E'>Want to get on the waiting list? Sign up for updates today!</h2>
          <div id="mc_embed_signup">
          <form action="//openwatertracker.us8.list-manage.com/subscribe/post?u=d667d616340e0ed641f98b42f&amp;id=b8b00b8f06" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_d667d616340e0ed641f98b42f_b8b00b8f06" tabindex="-1" value=""></div>
              <input type="submit" value="Send me more information" name="subscribe" id="mc-embedded-subscribe" class="button">
          </form>
          </div>
        </center>
      </div>
    </div>
  </div>

  <div id='section_5'>
    <div id='content'>
      <br><br>
        <b>
          Affektive Software LLC </br>
          Denver, CO </br>
          <a href="tel:+3039218628">Call </a> -
          <a href="mailto:info@affektive.com">Email - </a>
          <a href='http://www.affektive.com'>Web</a>
        </b>
    </div>
  </div>

  <div id='section_6'>
    <div id='content'>
      <br>
      <p style='color: white'>&#169; 2014 Affektive Software LLC</p>
    </div>
  </div>

<%= render 'pages/google_analytics' %>
