<nav class="navbar navbar-color navbar-fixed-top" role="navigation">
  <div class="container">
    <h1 id='header_position'>Open Water Tracker</h1>
  </div>
</nav>
<div id='navbar_text'>
  <h3 id='sub-header'>An elegant web app for tracking open water swims</h3>
</div>
