<nav class="navbar navbar-color navbar-fixed-top" role="navigation">
  <div class="container">
    <h1 class='hidden-xs' id='header_position'>Open Water Tracker</h1>
    <h2 class='visible-xs' id='header_position'>Open Water Tracker</h2>
  </div>
</nav>
<div id='navbar_text'>
  <h3 class='hidden-xs' id='sub-header'>An elegant web app for tracking open water swims</h3>
  <h4 class='visible-xs' id='sub-header'>An elegant web app for tracking open water swims</h4>
</div>
